<div *ngIf="!isLoading">
  <mat-card>
    <h3>LOGIN</h3>
    <form #ng="ngForm" (ngSubmit)="login(ng)">
      <div class="mt-2">
        <mat-form-field>
          <input
            placeholder="Email"
            matInput
            type="email"
            name="email"
            required
            ngModel
          />
          <mat-error>Email Id is Required</mat-error>
        </mat-form-field>
      </div>
  
      <div class="mt-2">
        <mat-form-field>
          <input
            [type]="hidepwd ? 'password' : 'text'"
            placeholder="Password"
            matInput
            type="password"
            name="password"
            #password="ngModel"
            required
            minlength="8"
            ngModel
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hidepwd = !hidepwd"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidepwd"
          >
            <mat-icon>{{ hidepwd ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="password.invalid"
            >Password length should be atleast 8 characters</mat-error
          >
        </mat-form-field>
      </div>
  
      <div class="mt-5">
        <button mat-flat-button color="primary" type="submit">
          
          Login
        </button>
      </div>
    </form>
  </mat-card>
  
</div>
<div *ngIf="isLoading">

  <mat-spinner class="spinner"></mat-spinner>

</div>