mat-card {
  /* margin-top: 5%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-left: 30%;
  margin-right: 30%;
  width: 32%; */
  margin: auto;
  width: 80%;
  font-family: "Lato", sans-serif;
  /* text-align: center; */
}
h3 {
  text-align: center;
}
form {
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  font-family: "Lato", sans-serif;
}
.mt-5 {
  text-align: center;
}
mat-form-field {
  width: 100%;
}

.spinner{
  margin-left: 45%;
  margin-top: 17%;
}
