<body>
    <div class="welcomestyle">
        <mat-card class="jumbotron">
    
            <mat-card-header>
                <mat-card-title>Welcome to Tenent Management system of Owner Module</mat-card-title>
                <mat-card-subtitle>You can perform the following operations here</mat-card-subtitle>
                
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li>Register to this website</li>
                    <li>Login to this website</li>
                    <li>Manage your profile</li>
                    <li>Register tenents to your properties</li>
                    <li>Manage your tenents</li>
                    <li>View the payment due amount & Due Date</li>
                </ul>
            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button color="primary" (click)= "enabled = !enabled" >See Develepor's Info</button>
            </mat-card-actions>
    
        </mat-card>
        <div class="mt-5 developer" *ngIf="enabled"  >

            <mat-card class="bg-light">
                <mat-card-header>
                    <img src="../../assets/nehar.jpg" mat-card-avatar alt="">
                    <mat-card-title>Sree nehar</mat-card-title>
                    <mat-card-subtitle>sreeneher3913@gmail.com</mat-card-subtitle>
                </mat-card-header>
                
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <img src="../../assets/dheeraj.jpg" mat-card-avatar alt="">
                    <mat-card-title>Ram Dheeraj</mat-card-title>
                    <mat-card-subtitle>ramdheeraj99@gmail.com</mat-card-subtitle>
                </mat-card-header>
                
            </mat-card>
            <mat-card class="bg-light">
                <mat-card-header>
                    <img src="../../assets/varshini.jpg" mat-card-avatar alt="">
                    <mat-card-title>Varshini</mat-card-title>
                    <mat-card-subtitle>varshinidusa245@gmail.com</mat-card-subtitle>
                </mat-card-header>
                
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <img src="../../assets/emptyprofilepic.png" mat-card-avatar alt="">
                    <mat-card-title>Sathwika</mat-card-title>
                    <mat-card-subtitle>ragasiri29@gmail.com</mat-card-subtitle>
                </mat-card-header>
                
            </mat-card>
            <mat-card class="bg-light">
                <mat-card-header>
                    <img src="../../assets/emptyprofilepic.png" mat-card-avatar alt="">
                    <mat-card-title>Alekhya</mat-card-title>
                    <mat-card-subtitle>illendulaalekhya@gmail.com</mat-card-subtitle>
                </mat-card-header>
                
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <img src="../../assets/divya.jpg" mat-card-avatar alt="">
                    <mat-card-title>Divya</mat-card-title>
                    <mat-card-subtitle>divyasimhadri7@gmail.com</mat-card-subtitle>
                </mat-card-header>
                
            </mat-card>
            <mat-card class="bg-light">
                <mat-card-header>
                    <img src="../../assets/emptyprofilepic.png" mat-card-avatar alt="">
                    <mat-card-title>Sai Keerthi</mat-card-title>
                    <mat-card-subtitle>saikeerthivanga9699@gmail.com</mat-card-subtitle>
                </mat-card-header>
                
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <img src="../../assets/srinivas.jpg" mat-card-avatar alt="">
                    <mat-card-title>Srinivas</mat-card-title>
                    <mat-card-subtitle>srinivashemadri2000@gmail.com</mat-card-subtitle>
                </mat-card-header>
                
            </mat-card>

        </div>
        
    </div>
</body>