mat-card {
  margin-top: 5%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-left: 30%;
  margin-right: 30%;
  width: 37%;
  /* text-align: center; */
}
h3 {
  text-align: center;
}
form {
  margin-left: 20%;
  margin-right: 20%;
}
.mt-5 {
  text-align: center;
}
mat-form-field {
  width: 100%;
}
